/**
  * Product: Elune
  * Description: Coming Soon Template
  * Author: Davi Brancol
  * Author URL: https://themeforest.net/user/brancol
  * Version: v1.0.0
  * License: Licensed by Themeforest - Themeforest Licenses can be found at https://themeforest.net/licenses
  */

/*----------- Indexes -----------*/

/**
 * General
 * Preloader
 * Main Page
 * Navbar
 * Transition Overlay
 * Service
 * Resume
 * NPM Package
 * Slick Carousel
 * Circle Animation
 */

/*------------------------------------
  General
------------------------------------*/

@media (max-width: 771px) {
  .page-title p {
    margin-top: -3.5rem;
  }

  .menu-close {
    top: 0;
  }

  .service-item:hover {
    transform: translateY(-30px);
  }

  nav {
    width: 100%;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 70px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  nav.active {
    max-height: 100vh;
  }

  nav > ul {
    flex-direction: column;
  }

  nav > ul > li {
    width: 100%;
  }

  .slick-slide {
    margin: 0px 5px;
  }

  .slick-slide .slick-image {
    display: none;
  }

  .slick-slide .slick-image-mobile {
    display: block;
  }

  .slick-arrow {
    display: none;
  }

  .form-submit {
    width: 100%;
  }
}
